body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../../Images/snakeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title{
    width: 500px;
    height: 50px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button{
    font-family: italic 40pt Calibri;
    position: fixed;
    top: 50%;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border: none;
    background-color: lightgreen;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 5px hsl(0, 0%, 40%);
    box-shadow: 2px 2px 5px hsl(0, 0%, 40%);
    font-size: 24px;
    border-radius: 7px;
    
}
